body {
    background-color: rgb(164, 233, 233);
}

#bar {text-align: center;
background-color:rgb(143, 202, 139);
color: white;
margin: 10;
padding: 3;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
clear: both;
}

#main-nav {background-color: rgb(203, 59, 59);

}

#main-nav li{display: inline-block;
position: relative;
padding: 3;
}
#main-nav li:hover {

    background-color: aqua;
    color: white;
    
}

.content-area {
    width: 67%;
    float: left;
}
.content-box {
    background-color: green;
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
}
#rules {text-align: center;
background-color: blue;
border: black;
float: right;
width: 28%;
border: 2px solid black;
border-radius: 15px;
margin: 1px;
padding: 10px;
}

#choice {margin-top: 10px;}

#submit {background-color: lightgray;
margin-top: 10px;}

#submit:hover {
    background-color: darkgray;
    color: white;
}